<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ site.Params.description }}{{ end }}{{ end }}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Noto+Emoji:wght@400..700&display=swap" rel="stylesheet">

{{ $base := resources.Get "css/base.css" }}
{{ $layout := resources.Get "css/layout.css" }}
{{ $components := resources.Get "css/components.css" }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $shortcodes := resources.Get "css/shortcodes.css" }}
{{ $style := slice $base $layout $components $syntax $shortcodes | resources.Concat "css/style.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
